* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.2;
  font-family: 'Noto Sans', sans-serif;
}

html body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  background: #ffffff;
  color: #002745;
}

html body .container {
  max-width: 100%;
  width: 100%;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

body.open-menu {
  overflow: hidden;
}

/*color*/

body p,
.main__text {
  font-size: 0.875em;
  margin: 0;
  font-weight: 400;
}

img {
  max-width: 100%;
}

body h1,
body h2 {
  font-size: 1.875em;
  margin: 0;
}

body h1,
body h3 {
  font-weight: bold;
}

body h2,
.add__text {
  font-weight: 400;
}

body h3,
.add__text {
  font-size: 1.5em;
  margin: 0;
}

.add__text,
.main__text {
  line-height: 1.5;
}

.add__text__small {
  font-size: 1em;
}

.add__text__middle {
  font-size: 1.25em;
}

body .row:before,
body .row:after {
  display: inline-block !important;
}

body .row {
  margin-left: -10px;
  margin-right: -10px;
}

body .row .col-xs-12,
body .row .col-xs-6 {
  padding-left: 10px;
  padding-right: 10px;
}

body .row__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

body .row__flex .col-xs-12,
body .row__flex .col-xs-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

body a {
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 0.875em;
}

body a:hover,
body a:focus {
  text-decoration: none;
}

.link__blue {
  text-decoration: underline;
  color: #00C2FF;
}

.link__blue:hover,
.link__blue:focus,
.link__blue:active {
  color: #ED330A;
}

.red__blue {
  -webkit-text-decoration: dashed;
  text-decoration: dashed;
  color: #ED330A;
}

.red__blue:hover,
.red__blue:focus,
.red__blue:active {
  color: #ED330A;
  text-decoration: none;
}

.btn__blue {
  color: #ffffff;
  display: inline-block;
  padding: 14px 24px;
  border: 0;
  font-size: 0.875em;
  border-radius: 8px;
  background: #00C2FF;
  -webkit-box-shadow: 0px 10px 20px rgba(47, 168, 225, 0.3);
  box-shadow: 0px 10px 20px rgba(47, 168, 225, 0.3);
}

.btn__blue:hover,
.btn__blue:focus,
.btn__blue:active {
  background: #ED330A;
  color: white;
  -webkit-box-shadow: 0px 10px 20px rgba(237, 51, 10, 0.3);
  box-shadow: 0px 10px 20px rgba(237, 51, 10, 0.3);
}

body input,
body button,
body textarea,
body button:focus {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  outline: none;
}

body input[type="submit"] {
  cursor: pointer;
}

body input[type="text"],
body input[type="email"],
body input[type="password"],
body input[type="tel"],
body textarea {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 39, 69, 0.3);
  border-radius: 4px;
  background: #ffffff;
  color: #002745;
  font-size: 1em;
  font-weight: 400;
  padding: 14px 20px;
}

body input[type="text"]::-webkit-input-placeholder,
body input[type="email"]::-webkit-input-placeholder,
body input[type="password"]::-webkit-input-placeholder,
body input[type="tel"]::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: #002745;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body input[type="text"]:hover,
body input[type="email"]:hover,
body input[type="password"]:hover,
body input[type="tel"]:hover,
body textarea:hover {
  border: 1px solid rgba(0, 39, 69, 0.5);
}

body input[type="text"]:hover::-webkit-input-placeholder,
body input[type="email"]:hover::-webkit-input-placeholder,
body input[type="password"]:hover::-webkit-input-placeholder,
body input[type="tel"]:hover::-webkit-input-placeholder,
body textarea:hover::-webkit-input-placeholder {
  opacity: 1;
}

body input[type="text"]:focus,
body input[type="email"]:focus,
body input[type="password"]:focus,
body input[type="tel"]:focus,
body textarea:focus {
  border: 1px solid #002745;
}

body input[type="text"]:focus::-webkit-input-placeholder,
body input[type="email"]:focus::-webkit-input-placeholder,
body input[type="password"]:focus::-webkit-input-placeholder,
body input[type="tel"]:focus::-webkit-input-placeholder,
body textarea:focus::-webkit-input-placeholder {
  opacity: 1;
}

body textarea {
  resize: none;
}

body .padding_b {
  padding-bottom: 80px;
}

body .padding_t {
  padding-top: 80px;
}

body .padding_t_100 {
  padding-top: 65px;
}

body .padding_t_80 {
  padding-top: 40px;
}

body .margin_b_50 {
  margin-bottom: 40px;
}

body .margin_b_40 {
  margin-bottom: 30px;
}

body .margin_b_30 {
  margin-bottom: 20px;
}

body .margin_b_20 {
  margin-bottom: 20px;
}

body .width__780,
body .width__580 {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

body .width__780 {
  max-width: 780px;
}

body .width__580 {
  max-width: 580px;
}

/*header*/

body header {
  position: absolute;
  padding: 15px 0;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  border-bottom: 1px solid rgba(0, 39, 69, 0.1);
  z-index: 9999;
  background: white;
}

body header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: static;
}

body header.pages {
  background: #EDF7FC;
  position: static;
}

body header .header__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
}

body header .header__logo img {
  width: 100%;
  width: 127px;
  height: 40px;
}

body header .wrap__menu {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

body header .wrap__menu.active {
  left: 0;
  right: auto;
}

body header .wrap__menu .menu .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body header .wrap__menu .menu__item {
  margin: 0 0 30px;
}

body header .wrap__menu .menu__item:last-child {
  margin-bottom: 0;
}

body header .wrap__menu .menu__item:last-child {
  margin-right: 0;
}

body header .wrap__menu .menu__item__current .menu__link {
  color: #ED330A;
}

body header .wrap__menu .menu__item__current .menu__link:before {
  width: 100%;
}

body header .wrap__menu .menu__link {
  padding: 0 10px;
  position: relative;
  font-size: 1.125em;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #002745;
  background: transparent;
}

body header .wrap__menu .menu__link:hover,
body header .wrap__menu .menu__link:focus {
  background: transparent;
  color: #00C2FF;
}

body header .language {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

body header .language__name {
  font-size: 1.125em;
  color: #ffffff;
}

body header .language__item {
  margin: 0 0 30px 0;
  opacity: 0.5;
}

body header .language__item__current {
  opacity: 1;
}

body header .language__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}

body header .language__link svg {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

body header .wrap__burger {
  display: inline-block;
}

body header .burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  padding: 5px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}

body header .burger span {
  display: block;
  width: 100%;
  height: 2px;
  background: #21314e;
  margin: 3px auto 3px 0;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 100%;
}

body header.active .burger {
  padding-top: 10px;
}

body header.active .burger span {
  background: white;
}

body header.active .burger span:first-child {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

body header.active .burger span:nth-child(2) {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

body header.active .burger span:last-child {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -20px;
}

/*main*/

main {
  overflow-x: hidden;
}

.banner-home {
  height: 100vh;
  position: relative;
}

.banner-home .container {
  position: relative;
  z-index: 9;
  background: white;
}

.banner-home .container .add__text {
  margin-bottom: 30px;
}

.banner-home__inner {
  position: absolute;
  width: 100vw;
  height: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  top: 0;
}

.banner-home__inner__wrap {
  position: relative;
  top: 0;
  height: 205px;
  width: 200%;
  -webkit-box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  left: -50%;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
}

.banner-home__center {
  z-index: 999;
  border-radius: 50%;
  width: 100%;
  height: initial;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.banner-home__center:before {
  display: none;
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.banner-home__center__inner {
  text-align: center;
}

.banner-home__center__inner * {
  position: relative;
}

.banner-home__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.banner-home__btn .btn__blue {
  margin-right: 20px;
}

.banner-home .btn__info {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  -webkit-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  z-index: 99;
  -webkit-animation: MoveUpDownMobile 1.8s linear infinite;
  animation: MoveUpDownMobile 1.8s linear infinite;
  width: 40px;
  height: 40px;
}

.banner-home .btn__info svg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@-webkit-keyframes MoveUpDown {
  0%, 100% {
    bottom: 7vh;
  }

  50% {
    bottom: 5vh;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 7vh;
  }

  50% {
    bottom: 5vh;
  }
}

@-webkit-keyframes MoveUpDownMobile {
  0%, 100% {
    bottom: 5px;
  }

  50% {
    bottom: -5px;
  }
}

@keyframes MoveUpDownMobile {
  0%, 100% {
    bottom: 5px;
  }

  50% {
    bottom: -5px;
  }
}

.block__title {
  border-bottom: 1px solid rgba(0, 39, 69, 0.2);
}

.block__title__inner {
  position: relative;
  display: inline-block;
  padding: 0 10px 10px;
  border-bottom: 1px solid #ED330A;
  margin-bottom: -1px;
}

.info__item {
  width: 100%;
  border: 1px solid rgba(0, 194, 255, 0.3);
  border-radius: 10px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.info__item__image {
  width: 60px;
  margin: 0 auto 15px;
  text-align: center;
}

.info__item__image img {
  max-height: 60px;
}

.info__item__title {
  margin-bottom: 15px;
}

.info__image img {
  display: block;
  margin: 30px auto 0;
  -webkit-box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  border-radius: 10px;
}

.info .btn__blue__wrap {
  text-align: center;
}

/*partners*/

.partners .block__title {
  border-bottom: 0;
}

.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.partners__inner__wrap {
  border-radius: 10px;
  border: 1px solid rgba(0, 39, 69, 0.2);
  padding: 30px 20px;
}

.partners__item {
  margin-bottom: 23px;
}

.partners__item:last-child {
  margin: 0;
}

/*block__home__image*/

.block__home__image {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.block__home__image .row .col-xs-12:first-child .block__home__image__item {
  border-radius: 10px;
  margin-bottom: 20px;
}

.block__home__image__item {
  -webkit-box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
  border-radius: 10px;
  height: 180px;
}

/*footer*/

footer {
  border-top: 1px solid rgba(0, 39, 69, 0.2);
  padding: 30px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__inner .main__text {
  line-height: inherit;
}

.footer__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer__item img {
  width: 20px;
  margin: 0 5px;
}

/*services*/

.services .row .col-xs-12 {
  margin-bottom: 20px;
}

.services .row .col-xs-12:last-child {
  margin: 0;
}

.services__images__item {
  height: 220px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
  box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
  border-radius: 10px;
}

.services__info .main__text {
  margin-bottom: 20px;
}

.services__info .main__text:last-child {
  margin: 0;
}

/*contact*/

.contact__inner {
  padding: 30px 0 20px;
  border-top: 1px solid rgba(0, 39, 69, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.contact__inner__item {
  margin: 0 10px 10px;
}

.contact__inner__item.line {
  display: none;
}

.contact__inner__item .main__text,
.contact__inner__item .link__blue {
  font-size: 1em;
}

.contact__inner__image img {
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
  box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
}

.contact__event__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.contact__event__inner.row-2 .contact__event__item {
  width: 100%;
}

.contact__event__inner.row-3 .contact__event__item {
  width: 100%;
}

.contact__event__inner.row-3 .contact__event__item:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.contact__event__item {
  padding: 30px 15px;
  border-bottom: 1px solid rgba(0, 39, 69, 0.2);
}

.contact__event__item:last-child {
  border-right: 0;
}

.contact__event__item__image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60px;
  height: 60px;
}

.contact__event__item__image img {
  max-height: 60px;
}

/*block__form*/

.block__form__context .form__ok {
  padding: 15px 0;
}

.block__form__context .form__ok__image {
  width: 50px;
  height: 50px;
}

/*references*/

.references__item {
  margin-bottom: 15px;
  display: block;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 30px rgba(0, 39, 69, 0.1);
  box-shadow: 0px 5px 30px rgba(0, 39, 69, 0.1);
}

body .mfp-bg {
  background: rgba(0, 39, 69, 0.9);
  opacity: 1;
}

body img.mfp-img {
  border-radius: 10px;
  padding: 0;
}

body .mfp-figure figure {
  padding: 80px 0;
  background: transparent;
  max-width: 1180px;
  width: 100%;
}

body button.mfp-arrow {
  width: 40px;
  height: 50px;
  opacity: 1;
  margin: 0 !important;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 1;
}

body button.mfp-arrow:hover,
body button.mfp-arrow:focus {
  opacity: 1;
}

body button.mfp-arrow:before,
body button.mfp-arrow:after {
  display: none;
}

body button.mfp-arrow.mfp-arrow-left {
  background-image: url("../img/icons/ar-l.svg");
  left: 20px;
}

body button.mfp-arrow.mfp-arrow-right {
  background-image: url("../img/icons/ar-r.svg");
  right: 20px;
}

body .mfp-image-holder .mfp-close {
  width: 20px;
  height: 20px;
  background: url("../img/icons/close.svg") no-repeat center/cover;
  opacity: 0.5;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  font-size: 0;
  top: 20px;
  right: 20px;
  position: fixed;
}

body .mfp-image-holder .mfp-close:hover,
body .mfp-image-holder .mfp-close:focus {
  opacity: 0.8;
}

body .mfp-figure:after {
  display: none;
}

body .mfp-bottom-bar {
  margin-top: -50px;
}

body .mfp-counter,
body .mfp-title {
  font-size: 1.125em;
  color: white;
}

.cng {
  position: relative;
  overflow: hidden;
}

.cng__inner .main__text {
  margin-bottom: 15px;
}

.cng:before {
  position: absolute;
  top: 0;
  height: 60%;
  width: 200%;
  left: -50%;
  content: "";
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  background: #EDF7FC;
}

/*options*/

.options__table {
  width: 100%;
}

.options__table th,
.options__table td {
  border: 1px solid rgba(0, 39, 69, 0.2);
  padding: 4px 4px;
  font-size: 0.65em;
}

.options__table thead th,
.options__table thead td {
  background: rgba(237, 51, 10, 0.05);
}

.options__table thead th {
  text-align: center;
  font-weight: 400;
  color: #ED330A;
}

.options__table td.table__small {
  font-size: 0.65em;
  width: 50px;
}

.options__images__item {
  border-radius: 10px;
  -webkit-box-shadow: 0px 20px 60px rgba(0, 39, 69, 0.1);
  box-shadow: 0px 20px 60px rgba(0, 39, 69, 0.1);
  height: 220px;
  margin: 0 auto 20px;
}

.options__inner .nav-tabs {
  border: 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.options__inner .nav-tabs .nav-item {
  width: 33.3%;
  text-align: center;
  margin: 0;
  border-right: 1px solid #00C2FF;
  padding: 0 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.options__inner .nav-tabs .nav-item:last-child {
  border: 0;
}

.options__inner__item__title {
  color: #00C2FF;
}

.options__inner__item.nav-link {
  border: 0 !important;
  padding: 10px 2px;
  border-radius: 10px !important;
  width: 100%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.options__inner__item.nav-link.active,
.options__inner__item.nav-link:hover,
.options__inner__item.nav-link:focus {
  border: 0 !important;
}

.options__inner__item.nav-link.active {
  background: #00C2FF !important;
}

.options__inner__item.nav-link.active .options__inner__item__title {
  color: #ffffff;
}

.options__inner__item.nav-link.active svg {
  fill: #ffffff;
}

.options__inner__item.nav-link.active svg .cls-1,
.options__inner__item.nav-link.active svg .cls-2,
.options__inner__item.nav-link.active svg .cls-3 {
  fill: #ffffff;
}

.options__inner__image {
  width: 50px;
  height: 50px;
  margin: 0 auto 20px;
  text-align: center;
}

.options__inner__image svg {
  max-width: 100%;
  max-height: 100%;
  fill: #00C2FF;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.options__inner__image svg .cls-1,
.options__inner__image svg .cls-2,
.options__inner__image svg .cls-3 {
  fill: #00C2FF;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.options__inner .tab-content {
  border: 1px solid #00C2FF;
  border-radius: 10px;
  padding: 20px 0;
}

.options__inner .tab-pane {
  position: relative;
}

.options__inner .tab-pane:before {
  display: block;
  position: absolute;
  top: -34px;
  background: url("../img/icons/arr-i.svg") no-repeat center/16px;
  content: "";
  width: 14px;
  height: 16px;
  background-color: white;
}

.options__inner .tab-pane:first-child:before {
  left: 14%;
}

.options__inner .tab-pane:nth-child(2):before {
  left: 49%;
}

.options__inner .tab-pane:last-child:before {
  left: 84%;
}

@media only screen and (min-width: 568px) {
  html body .container {
    width: 562px;
  }

  .banner-home__inner__wrap {
    height: 350px;
  }

  .services__images__item {
    height: 250px;
  }

  .options__table th,
  .options__table td {
    padding: 5px 6px;
    font-size: 0.75em;
  }
}

@media only screen and (min-width: 768px) {
  html body .container {
    width: 748px;
    padding-left: 20px;
    padding-right: 20px;
  }

  body .padding_t_100 {
    padding-top: 80px;
  }

  body .padding_t_80 {
    padding-top: 60px;
  }

  .banner-home .container {
    height: 100vh;
    background: transparent;
  }

  .banner-home__inner {
    height: 95vh;
  }

  .banner-home__inner__wrap {
    position: absolute;
    height: 94%;
  }

  .banner-home__center {
    width: 390px;
    height: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.6);
  }

  .banner-home__center:before {
    width: 330px;
    height: 330px;
    display: block;
  }

  .banner-home .btn__info {
    width: 60px;
    height: 60px;
    bottom: 6vh;
    -webkit-animation: MoveUpDown 1.8s linear infinite;
    animation: MoveUpDown 1.8s linear infinite;
  }

  .info__item__image {
    margin: 0 30px 0 0;
  }

  .info__item__description {
    width: calc(100% - 90px);
  }

  .partners__inner {
    padding: 0 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .partners__item {
    margin: 0;
  }

  .block__home__image {
    width: 748px;
  }

  .block__home__image__item {
    height: 340px;
  }

  .services .row .col-xs-12 {
    margin-bottom: 0;
  }

  .services__images__item {
    height: 300px;
  }

  .contact__inner {
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
    -ms-flex-direction: inherit;
    flex-direction: inherit;
  }

  .contact__inner__item.line {
    display: inline-block;
    color: rgba(0, 39, 69, 0.3);
  }

  .contact__event__inner:first-child {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid rgba(0, 39, 69, 0.2);
  }

  .contact__event__inner.row-2 .contact__event__item {
    width: 50%;
  }

  .contact__event__inner.row-3 .contact__event__item {
    width: 33%;
  }

  .contact__event__item {
    padding: 15px 20px 0;
    border-right: 1px solid rgba(0, 39, 69, 0.2);
    border-bottom: 0;
  }

  .options__table th,
  .options__table td {
    padding: 8px 10px;
    font-size: 0.875em;
  }

  .options__table td.table__small {
    width: 120px;
  }

  .options__images__item {
    margin: 0 auto;
    height: 300px;
  }

  .options__inner .nav-tabs .nav-item {
    padding: 0 20px;
  }

  .options__inner__item.nav-link {
    padding: 20px 10px;
  }

  .options__inner__image {
    width: 60px;
    height: 60px;
  }

  .options__inner .tab-content {
    padding: 30px 15px;
  }

  .options__inner .tab-pane:before {
    top: -44px;
  }
}

@media only screen and (min-width: 992px) {
  .banner-home__btn .btn__blue {
    margin-right: 30px;
  }

  .info__image img {
    max-width: 90%;
  }

  .info .btn__blue__wrap {
    text-align: left;
  }

  .partners__inner__wrap {
    padding: 45px 0 50px;
  }

  .block__home__image {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  .block__home__image .row .col-xs-12:first-child .block__home__image__item {
    border-radius: 0 10px 10px 0;
    margin-bottom: 0;
  }

  .block__home__image__item {
    border-radius: 10px 0 0 10px;
    height: 380px;
  }

  .contact__event__inner:first-child {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .contact__event__item {
    padding: 20px 30px 0;
  }

  .options__images__item {
    width: calc(100% - 20px);
    height: 320px;
  }
}

@media only screen and (min-width: 1024px) {
  html body .container {
    width: 984px;
  }

  body p,
  .main__text {
    font-size: 1.125em;
  }

  body h1,
  body h2 {
    font-size: 2.5em;
  }

  .add__text__small {
    font-size: 1.5em;
  }

  .add__text__middle {
    font-size: 1.5em;
  }

  body a {
    font-size: 1.125em;
  }

  .btn__blue {
    font-size: 1.125em;
  }

  body header {
    padding: 20px 0;
  }

  body header .wrap__menu .menu__item {
    margin: 0 3px;
  }

  body header .wrap__menu .menu__link:before {
    display: block;
    position: absolute;
    content: "";
    width: 0;
    height: 1px;
    background: #ED330A;
    left: 0;
    z-index: 9999;
    bottom: -29px;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
    width: 0;
  }

  body header .language__name {
    display: none;
  }

  body header .language__item {
    margin: 0 4px;
    opacity: 1;
  }

  body header .language__item:first-child {
    margin-left: 0;
  }

  body header .language__item:last-child {
    margin-right: 0;
  }

  body header .language__item__current .language__link {
    background: #EDF7FC;
    border: 2px solid #00C2FF;
  }

  body header .language__link {
    width: 36px;
    height: 36px;
    border: 2px solid transparent;
  }

  body header .language__link svg {
    width: 20px;
    height: 20px;
    margin: 0;
  }

  body header .language__link:hover {
    background: rgba(237, 247, 252, 0.5);
    border: 2px solid rgba(0, 194, 255, 0.5);
  }

  body header .wrap__burger {
    display: none;
  }

  .banner-home__center {
    width: 480px;
    height: 480px;
  }

  .banner-home__center:before {
    width: 400px;
    height: 400px;
  }

  .block__title__inner {
    padding: 0 20px 15px;
  }

  .contact__inner {
    padding: 40px 0 30px;
  }

  .block__form__context .form__ok {
    padding: 30px 0;
  }

  .block__form__context .form__ok__image {
    width: 70px;
    height: 70px;
  }

  .references__item {
    margin-bottom: 20px;
  }

  body .mfp-counter,
  body .mfp-title {
    font-size: 1.5em;
  }

  .cng__inner .main__text {
    margin-bottom: 20px;
  }

  .options__table th,
  .options__table td {
    padding: 12px 15px;
    font-size: 1em;
  }

  .options__table td.table__small {
    width: 215px;
    font-size: 0.75em;
  }

  .options__inner .nav-tabs .nav-item {
    padding: 0 30px;
  }

  .options__inner__item.nav-link {
    padding: 30px 10px;
  }

  .options__inner__image {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  html body .container {
    width: 1220px;
  }

  body .padding_b {
    padding-bottom: 110px;
  }

  body .padding_t {
    padding-bottom: 110px;
  }

  body .padding_t_100 {
    padding-top: 100px;
  }

  body .padding_t_80 {
    padding-top: 80px;
  }

  body .margin_b_50 {
    margin-bottom: 50px;
  }

  body .margin_b_40 {
    margin-bottom: 40px;
  }

  body .margin_b_30 {
    margin-bottom: 30px;
  }

  body header .wrap__menu .menu__item {
    margin: 0 10px;
  }

  body header .language__item {
    margin: 0 6px;
  }

  .banner-home__center {
    width: 560px;
    height: 560px;
  }

  .banner-home__center:before {
    width: 450px;
    height: 450px;
  }

  .info__item {
    padding: 30px 30px 30px 20px;
  }

  .info__image img {
    max-width: 480px;
    margin: 0 0 0 auto;
  }

  .partners__inner {
    padding: 0;
  }

  .partners__inner__wrap {
    padding: 58px 0 62px;
  }

  .block__home__image .row .col-xs-12:first-child {
    padding-right: 20px;
  }

  .block__home__image .row .col-xs-12:last-child {
    padding-right: 20px;
  }

  .block__home__image__item {
    height: 500px;
  }

  body button.mfp-arrow:hover,
  body button.mfp-arrow:focus {
    opacity: 0.8;
  }

  body button.mfp-arrow {
    width: 40px;
    height: 60px;
    background-color: transparent;
    background-size: 32px;
    opacity: 0.5;
  }

  body button.mfp-arrow.mfp-arrow-left {
    left: 50px;
  }

  body button.mfp-arrow.mfp-arrow-right {
    right: 50px;
  }

  body .mfp-image-holder .mfp-close {
    right: 50px;
    top: 50px;
    width: 30px;
    height: 30px;
  }

  .cng__inner {
    -webkit-column-gap: 60px;
    column-gap: 60px;
    -webkit-column-count: 2;
    column-count: 2;
  }

  .options__table th,
  .options__table td {
    padding: 15px 28px;
    font-size: 1.125em;
  }

  .options__images__item {
    width: calc(100% - 40px);
    height: 360px;
  }

  .options__inner .nav-tabs .nav-item {
    padding: 0 50px;
  }

  .options__inner__item.nav-link {
    padding: 40px 20px;
  }

  .options__inner__image {
    width: 100px;
    height: 100px;
  }

  .options__inner .tab-content {
    padding: 40px 20px;
  }

  .options__inner .tab-pane:before {
    top: -54px;
  }
}

@media only screen and (min-width: 1440px) {
  .banner-home__center {
    width: 620px;
    height: 620px;
  }

  .banner-home__center:before {
    width: 500px;
    height: 500px;
  }

  .banner-home .btn__info {
    width: 80px;
    height: 80px;
  }

  .block__home__image__item {
    height: 640px;
  }
}

@media only screen and (min-width: 1441px) {
  body .padding_b {
    padding-bottom: 140px;
  }

  body .padding_t {
    padding-bottom: 130px;
  }
}

@media only screen and (min-width: 1680px) {
  body button.mfp-arrow {
    width: 60px;
    height: 90px;
    background-size: 48px;
  }

  body button.mfp-arrow.mfp-arrow-left {
    left: 100px;
  }

  body button.mfp-arrow.mfp-arrow-right {
    right: 100px;
  }

  body .mfp-image-holder .mfp-close {
    right: 100px;
    top: 100px;
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 1279px) {
  footer {
    padding-bottom: 10px;
  }

  .footer__inner {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__item {
    margin: 0 20px 20px;
  }
}

@media only screen and (max-width: 1023px) {
  body header .wrap__menu {
    position: fixed;
    background: #002745;
    top: 0;
    left: 100%;
    right: auto;
    width: 100%;
    height: 100vh;
    z-index: 9999;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 24px 15px 15px;
    overflow-y: auto;
  }

  body header .wrap__menu .menu {
    padding: 47px 20px 30px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
  }

  body header .wrap__menu .menu .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  body header .wrap__menu .menu__link {
    color: #ffffff;
    padding: 0;
  }

  body header .language {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px 20px 0 20px;
  }
}

@media only screen and (max-width: 991px) {
  body .mfp-figure figure {
    padding: 80px 15px;
  }

  body .mfp-bottom-bar {
    padding: 0 15px;
    width: calc(100% - 15px);
  }
}

@media only screen and (max-width: 767px) {
  .banner-home {
    padding-top: 111px;
    height: initial;
  }

  .banner-home .container {
    width: 100%;
    padding-bottom: 10px;
  }

  .info__item {
    padding: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
  }

  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer__item {
    margin: 0 0 20px;
  }

  .contact__event {
    margin-top: -30px;
  }

  .options__inner__item__title {
    font-size: 1.05em;
  }
}