* {
	box-sizing: border-box;
	line-height: 1.2;
	font-family: 'Noto Sans', sans-serif;
}
html { 
	body { 
		margin: 0; 
		padding: 0;
		width: 100%;  
		height: 100%;
		font-size: 16px;
		overflow-x: hidden; 
		font-family: 'Noto Sans', sans-serif;
		background: #ffffff; 
		color: #002745;
		.container { 
			max-width: 100%; 
			width: 100%;
			position: relative;
			padding-left: 15px;
			padding-right: 15px;	
			@media only screen and(min-width: 568px) {
				width: 562px;
			} 
			@media only screen and(min-width: 768px) {
				width: 748px;
				padding-left: 20px;
				padding-right: 20px;
			}
			@media only screen and(min-width: 1024px) {
				width: 984px;
			}
			@media only screen and(min-width: 1280px) {
				width: 1220px;
			}	
		}
	}
}
body.open-menu {
	overflow: hidden;
}
/*color*/
$white-color: #ffffff;
$dark-color: #002745;
$blue-color: #00C2FF;
$red-color: #ED330A;
$light-blue-color: #EDF7FC;

body p,
.main__text {
	font-size: 0.875em;
	margin: 0;
	font-weight: 400;
	@media only screen and(min-width: 1024px) {
		font-size: 1.125em;
	}
}
img {max-width: 100%}
body h1,
body h2 {
	font-size: 1.875em;
	margin: 0;
	@media only screen and(min-width: 1024px) {
		font-size: 2.5em;
	}
}
body h1,
body h3 {
	font-weight: bold;
}
body h2,
.add__text  {
	font-weight: 400;
}
body h3,
.add__text  {
	font-size: 1.5em;
	margin: 0;
}
.add__text ,
.main__text {
	line-height: 1.5;
}
.add__text {
	&__small {
		font-size: 1em;
		@media only screen and(min-width: 1024px) {
			font-size: 1.5em;
		}
	}
	&__middle {
		font-size: 1.25em;
		@media only screen and(min-width: 1024px) {
			font-size: 1.5em;
		}
	}
}
body .row:before,
body .row:after {
	display: inline-block!important;
}
body .row {
	margin-left: -10px;
	margin-right: -10px;
	.col-xs-12,
	.col-xs-6 {
		padding-left: 10px;
		padding-right: 10px;
	}
	&__flex {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.col-xs-12 ,
		.col-xs-6 {
			display: flex;
			flex-wrap: wrap;
		}
	}
}
body a{
	cursor: pointer;
	transition: 0.3s ease;
	font-size: 0.875em;
	@media only screen and(min-width: 1024px) {
		font-size: 1.125em;
	}
	&:hover,
	&:focus {
		text-decoration: none;
	}
}
.link__blue {
	text-decoration: underline;
	color: $blue-color;
	&:hover,
	&:focus,
	&:active {
		color: $red-color;
	}
}
.red__blue {
	text-decoration: dashed;
	color: $red-color;
	&:hover,
	&:focus,
	&:active {
		color: $red-color;
		text-decoration: none;
	}
}
.btn__blue {
	color: $white-color;
	display: inline-block;
	padding: 14px 24px;
	border: 0;
	font-size: 0.875em;
	border-radius: 8px;
	background: $blue-color;
	box-shadow: 0px 10px 20px rgba(47, 168, 225, 0.3);
	@media only screen and(min-width: 1024px) {
		font-size: 1.125em;
	}
	&:hover,
	&:focus,
	&:active {
		background: $red-color;
		color: white;
		box-shadow: 0px 10px 20px rgba(237, 51, 10, 0.3);
	}
}
body {
	input,
	button,
	textarea,
	button:focus {
		transition: 0.3s ease;
		outline: none;
	}
	input[type="submit"] {
		cursor: pointer;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"],
	input[type="tel"],
	textarea {
		display: block;
		width: 100%;
		border: 1px solid rgba($dark-color, 0.3);
		border-radius: 4px;
		background: $white-color;
		color: $dark-color;
		font-size: 1em;
		font-weight: 400;
		padding: 14px 20px;
		&::-webkit-input-placeholder {
			color: $dark-color;
			opacity: 0.5;
			transition: 0.3s ease;
		}
		&:hover {
			border: 1px solid rgba($dark-color, 0.5);
			&::-webkit-input-placeholder {
				opacity: 1;
			}
		}
		&:focus {
			border: 1px solid rgba($dark-color, 1);
			&::-webkit-input-placeholder {
				opacity: 1;
			}
		}
	}
	textarea {
		resize: none;
	}
	.padding_b {
		padding-bottom: 80px;
		@media only screen and(min-width: 1280px) {
			padding-bottom: 110px;
		}
		@media only screen and(min-width: 1441px) {
			padding-bottom: 140px;
		}
	}
	.padding_t {
		padding-top: 80px;
		@media only screen and(min-width:1280px) {
			padding-bottom: 110px;
		}
		@media only screen and(min-width:1441px) {
			padding-bottom: 130px;
		}
	}
	.padding_t_100 {
		padding-top: 65px;
		@media only screen and(min-width: 768px) {
			padding-top: 80px;
		}
		@media only screen and(min-width: 1280px) {
			padding-top: 100px;
		}
	}
	.padding_t_80 {
		padding-top: 40px;
		@media only screen and(min-width: 768px) {
			padding-top: 60px;
		}
		@media only screen and(min-width: 1280px) {
			padding-top: 80px;
		}
	}
	.margin_b_50 {
		margin-bottom: 40px;
		@media only screen and(min-width: 1280px) {
			margin-bottom: 50px;
		}
	}
	.margin_b_40 {
		margin-bottom: 30px;
		@media only screen and(min-width: 1280px) {
			margin-bottom: 40px;
		}
	}
	.margin_b_30 {
		margin-bottom: 20px;
		@media only screen and(min-width: 1280px) {
			margin-bottom: 30px;
		}
	}
	.margin_b_20 {
		margin-bottom: 20px;
	}
	.width__780,
	.width__580 {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.width__780 {
		max-width: 780px;
	}
	.width__580 {
		max-width: 580px;
	}
}
/*header*/
body header {
	position: absolute;
	padding: 15px 0;
	top: 0;
	left: 0;
	width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(0, 39, 69, 0.1);
	z-index: 9999;
	background: white;
	@media only screen and(min-width:1024px) {
		padding: 20px 0;
	}
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: static;
	}
	&.pages {
		background: $light-blue-color;
		position: static;
	}
	.header__logo {
		display: inline-flex;
		flex-grow: 2;
		img {
			width: 100%;
			width: 127px;
			height: 40px;
		}
	}
	.wrap__menu {
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 2;
		transition: 0.3s ease;
		@media only screen and(max-width: 1023px) {
			position: fixed;
			background: $dark-color;
			top: 0;
			left: 100%;
			right: auto;
			width: 100%;
			height: 100vh;
			z-index: 9999;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			padding: 24px 15px 15px;
			overflow-y: auto;
		}
		&.active {
			left: 0;
			right: auto;
		}
 		.menu {
			@media only screen and(max-width: 1023px) {
				padding: 47px 20px 30px 20px;
				border-bottom: 1px solid rgba($white-color, 0.3);
				width: 100%;
			}
			.nav {
				display: flex;
				align-items: center;
				@media only screen and(max-width: 1023px) {
					flex-direction: column;
					align-items: flex-start;
					width: 100%;
					flex-wrap: nowrap;
				}
			}
			&__item {
				margin: 0 0 30px;
				&:last-child {
					margin-bottom: 0;
				}
				@media only screen and(min-width: 1024px) {
					margin: 0 3px;
				}
				@media only screen and(min-width: 1280px) {
					margin: 0 10px;
				}
				&:last-child {
					margin-right: 0;
				}
				&__current {
					.menu__link {
						color: $red-color;
						&:before {
							width: 100%;
						}
					}
				}
			}			  
			&__link {
				padding: 0 10px;
				position: relative;
				font-size: 1.125em;
				font-weight: 400;
				transition: 0.3s ease;
				color: $dark-color;
				background: transparent;
				@media only screen and(max-width: 1023px) {
					color: $white-color;
					padding: 0;
				}
				&:hover,
				&:focus {
					background: transparent;
					color: $blue-color;
				}
				@media only screen and(min-width: 1024px) {
					&:before {
						display: block;
						position: absolute;
						content: "";
						width: 0;
						height: 1px;
						background: $red-color;
						left: 0;
						z-index: 9999;
						bottom: -29px;
						transition: 0.3s ease;
						width: 0;
					}
				}
			}
		}
	}
	.language {
		display: inline-flex;
		list-style: none;
		padding: 0;
		margin: 0;
		justify-content: space-between;
		@media only screen and(max-width: 1023px) {
			flex-direction: column;
			padding: 30px 20px 0 20px;
		}
		&__name {
			font-size: 1.125em;
			color: $white-color;
			@media only screen and(min-width: 1024px) {
				display: none;
			}
		}
		&__item {
			margin: 0 0 30px 0;
			opacity: 0.5;
			@media only screen and(min-width: 1024px) {
				margin: 0 4px;
				opacity: 1;
			}
			@media only screen and(min-width: 1280px) {
				margin: 0 6px;
			}
			&:first-child {
				@media only screen and(min-width: 1024px) {
					margin-left: 0;
				}
			}
			&:last-child {
				@media only screen and(min-width: 1024px) {
					margin-right: 0;
				}
			}
			&__current {
				opacity: 1;
				.language__link {
					@media only screen and(min-width: 1024px) {
						background: $light-blue-color;
						border: 2px solid $blue-color; 
					}
				}
			}
		}
		&__link {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			@media only screen and(min-width: 1024px) {
				width: 36px;
				height: 36px;
				border: 2px solid transparent;
			}
			svg {
				width: 30px;
				height: 30px;
				margin-right: 15px;
				@media only screen and(min-width: 1024px) {
					width: 20px;
					height: 20px;
					margin: 0;
				}
			}
			&:hover {
				@media only screen and(min-width: 1024px) {
					background: rgba($light-blue-color, 0.5); 
					border: 2px solid rgba($blue-color, 0.5); 
				}
			}
			
		}
	}
	.wrap__burger {
		display: inline-block;
		@media only screen and(min-width: 1024px) {
			display: none;
		}
	}
	.burger {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 40px;
		padding: 5px;
		position: relative;
		z-index: 9999;
		cursor: pointer;
		span {
			display: block;
			width: 100%;
			height: 2px;
			background: rgb(33, 49, 78);
			margin: 3px auto 3px 0;
			transition: 0.3s ease;
			width: 100%;
		}
	}
	&.active {
		.burger {
			padding-top: 10px;
			span {
				background: white;
			}
			span:first-child {
				transform: rotate(45deg);
			  }
			  span:nth-child(2) {
				transform: scale(0);
			  }
			  span:last-child {
				transform: rotate(-45deg);
				margin-top: -20px;
			  }
		}
	}
}
/*main*/
main {
	overflow-x: hidden;
}
.banner-home {
	height: 100vh;
	position: relative;
	@media only screen and(max-width: 767px) {
		padding-top: 111px;
		height: initial;
	}
	.container {
		position: relative;
		z-index: 9;
		background: white;
		@media only screen and(max-width: 767px) {
			width: 100%;
			padding-bottom: 10px;
		}
		@media only screen and(min-width: 768px) {
			height: 100vh;
			background: transparent;
		}
		.add__text {
			margin-bottom: 30px;
		}
	}
	&__inner {
		position: absolute;
		width: 100vw;
		height: 100%;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		@media only screen and(min-width: 768px) {
			height: 95vh;
		}
		&__wrap {
			position: relative;
			top: 0;
			height: 205px;
			width: 200%;
			box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
			left: -50%;
			border-radius: 0 0 50% 50%;
			overflow: hidden;
			@media only screen and(min-width: 568px) {
				height: 350px;
			}
			@media only screen and(min-width: 768px) {
				position: absolute;
				height: 94%;
			}
		}
	}
	&__center {
		z-index: 999;
		border-radius: 50%;
		width: 100%;
		height: initial;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		@media only screen and(min-width: 768px) {
			width: 390px;
			height: 390px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: rgba($white-color, 0.6);
			box-shadow: 0px 0px 100px rgba(255, 255, 255, 0.6);
		}
		@media only screen and(min-width: 1024px) {
			width: 480px;
			height: 480px;
		}
		@media only screen and(min-width: 1280px) {
			width: 560px;
			height: 560px;
		}
		@media only screen and(min-width: 1440px) {
			width: 620px;
			height: 620px;
		}
		&:before  {
			display: none;
			position: absolute;
			content: "";
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			background: rgba($white-color, 0.8);
			border-radius: 50%;
			@media only screen and(min-width: 768px) {
				width: 330px;
				height: 330px;
				display: block;
			}
			@media only screen and(min-width: 1024px) {
				width: 400px;
				height: 400px;
			}
			@media only screen and(min-width: 1280px) {
				width: 450px;
				height: 450px;
			}
			@media only screen and(min-width: 1440px) {
				width: 500px;
				height: 500px;
			}
		}
		&__inner {
			text-align: center;
			* {
				position: relative;
			}
		} 
	}
	&__btn {
		display: flex;
		align-items: center;
		justify-content: center;
		.btn__blue {
			margin-right: 20px;
			@media only screen and(min-width: 992px) {
				margin-right: 30px;
			}
		}
	}
	.btn__info {
		position: absolute;
		bottom: 5vh;
		left: 50%;
		transform: translate(-50%, 50%);
		z-index: 99;
		animation: MoveUpDownMobile 1.8s linear infinite;
		width: 40px;
		height: 40px;
		@media only screen and(min-width: 768px) {
			width: 60px;
			height: 60px;
			bottom: 6vh;
			animation: MoveUpDown 1.8s linear infinite;
		}
		@media only screen and(min-width: 1440px) {
			width: 80px;
			height: 80px;
		}
		svg {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
@keyframes MoveUpDown {
	0%, 100% {
		bottom: 7vh;
	}
	50% {
		bottom: 5vh;
	}
  }
  @keyframes MoveUpDownMobile {
	0%, 100% {
		bottom: 5px;
	}
	50% {
		bottom: -5px;
	}
  }
.block__title {
	border-bottom: 1px solid  rgba($dark-color, 0.2);
	&__inner {
		position: relative;
		display: inline-block;
		padding: 0 10px 10px;
		border-bottom: 1px solid $red-color;
		margin-bottom: -1px;
		@media only screen and(min-width: 1024px) {
			padding: 0 20px 15px;
		}
	}
}
.info  {
	&__item {
		width: 100%;
		border: 1px solid rgba($blue-color, 0.3);
		border-radius: 10px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and(max-width: 767px) {
			padding: 15px;
			flex-direction: column;
			text-align: center;
			margin-bottom: 15px;
		}
		@media only screen and(min-width: 1280px) {
			padding: 30px 30px 30px 20px;
		}
		&__image { 
			width: 60px;
			margin: 0 auto 15px;
			text-align: center;
			@media only screen and(min-width: 768px) {
				margin: 0 30px 0 0;
			}
			img {
				max-height: 60px;
			}
		}
		&__description {
			@media only screen and(min-width: 768px) {
				width: calc(100% - 90px);
			}
		}
		&__title {
			margin-bottom: 15px;
		}
	}
	&__image {
		img {
			display: block;
			margin: 30px auto 0;
			box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
			border-radius: 10px;
			@media only screen and(min-width: 992px) {
				max-width: 90%;
			}
			@media only screen and(min-width: 1280px) {
				max-width: 480px;
				margin: 0 0 0 auto;
			}
		}
	}
	.btn__blue__wrap {
		text-align: center;
		@media only screen and(min-width: 992px) {
			text-align: left;
		}
	}
}
/*partners*/
.partners {
	.block__title {
		border-bottom: 0;
	}
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0;
		flex-direction: column;
		@media only screen and(min-width: 768px) {
			padding: 0 40px; 
			flex-direction: row;
		}
		@media only screen and(min-width: 1280px) {
			padding: 0;
		}
		&__wrap {
			border-radius: 10px;
			border: 1px solid rgba($dark-color, 0.2);
			padding: 30px 20px;
			@media only screen and(min-width: 992px) {
				padding: 45px 0 50px;
			}
			@media only screen and(min-width: 1280px) {
				padding: 58px 0 62px;
			}
		}
	}
	&__item {
		margin-bottom: 23px;
		&:last-child {
			margin: 0;
		}
		@media only screen and(min-width: 768px) {
			margin: 0;
		}
	}
}
/*block__home__image*/
.block__home__image {
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	@media only screen and(min-width: 768px) {
		width: 748px;
	}
	@media only screen and(min-width: 992px) {
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}
	.row {
		.col-xs-12 {
			&:first-child {
				@media only screen and(min-width: 1280px) {
					padding-right: 20px;
				}
				.block__home__image__item {
					border-radius: 10px;
					margin-bottom: 20px;
					@media only screen and(min-width: 992px) {
						border-radius: 0 10px 10px 0;
						margin-bottom: 0;
					}
				}
			}
		}
		.col-xs-12 {
			&:last-child {
				@media only screen and(min-width: 1280px) {
					padding-right: 20px;
				}
			}
		}
	}
	&__item {
		box-shadow: 0px 30px 100px rgba(0, 39, 69, 0.2);
		border-radius: 10px;
		height: 180px;
		@media only screen and(min-width: 768px) {
			height: 340px;
		}
		@media only screen and(min-width: 992px) {
			border-radius: 10px 0 0 10px;
			height: 380px;
		}
		@media only screen and(min-width: 1280px) {
			height: 500px;
		}
		@media only screen and(min-width: 1440px) {
			height: 640px;
		}		
	}
}
/*footer*/
footer {
	border-top: 1px solid rgba(0, 39, 69, 0.2);
	padding: 30px 0;
	@media only screen and(max-width: 1279px) {
		padding-bottom: 10px;
	}
}
.footer {
	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@media only screen and(max-width: 767px) {
			flex-direction: column;
		}
		@media only screen and(max-width: 1279px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		.main__text {
			line-height: inherit;
		}
	}
	&__item {
		display: inline-flex;
		align-items: center;
		@media only screen and(max-width: 767px) {
			margin: 0 0 20px;
		}
		@media only screen and(max-width: 1279px) {
			margin: 0 20px 20px;
		}
		img {
			width: 20px;
			margin: 0 5px;
		}
	}
}
/*services*/
.services {
	.row {
		.col-xs-12 {
			margin-bottom: 20px;
			@media only screen and(min-width: 768px) {
				margin-bottom: 0;
			}
			&:last-child {
				margin: 0;
			}
		}
	}
	&__images {
		&__item {
			height: 220px;
			box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
			border-radius: 10px;
			@media only screen and(min-width: 568px) {
				height: 250px;
			}
			@media only screen and(min-width: 768px) {
				height: 300px;
			}
		}
	}
	&__info {
		.main__text {
			margin-bottom: 20px;
			&:last-child {
				margin: 0;
			}
		}
	}
}
/*contact*/
.contact {
	&__inner {
		padding: 30px 0 20px;
		border-top: 1px solid rgba($dark-color, 0.2);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		@media only screen and(min-width: 768px) {
			flex-direction: inherit;
		}
		@media only screen and(min-width: 1024px) {
			padding: 40px 0 30px;
		}
		&__item {
			margin: 0 10px 10px;
			&.line {
				display: none;
				@media only screen and(min-width: 768px) {
					display: inline-block;
					color: rgba($dark-color, 0.3);
				}
			}
			.main__text,
			.link__blue {
				font-size: 1em;
			}
		}
		&__image {
			img {
				border-radius: 10px;
				box-shadow: 0px 20px 40px rgba(0, 39, 69, 0.15);
			}
		}
	}
	&__event {
		@media only screen and(max-width: 767px) {
			margin-top: -30px;
		}
		&__inner {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			&:first-child {
				@media only screen and(min-width: 768px) {
					padding-bottom: 30px;
					margin-bottom: 30px;
					border-bottom: 1px solid rgba($dark-color, 0.2);
				}
				@media only screen and(min-width: 992px) {
					padding-bottom: 40px;
					margin-bottom: 40px;
				}
			}
			&.row-2 {
				.contact__event__item {
					width: 100%;
					@media only screen and(min-width: 768px) {
						width: 50%;
					}
				}
			}
			&.row-3 {
				.contact__event__item {
					width: 100%;
					@media only screen and(min-width: 768px) {
						width: 33%;
					}
					&:last-child {
						border-bottom: 0;
						padding-bottom: 0;
					}
				}
			}
		}
		&__item {
			padding: 30px 15px;
			border-bottom: 1px solid rgba($dark-color, 0.2);
			@media only screen and(min-width: 768px) {
				padding: 15px 20px 0;
				border-right: 1px solid rgba($dark-color, 0.2);
				border-bottom: 0;
			}
			@media only screen and(min-width: 992px) {
				padding: 20px 30px 0;
			}
			&:last-child {
				border-right: 0;
			}
			&__image {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				width: 60px;
				height: 60px;
				img {
					max-height: 60px;
				}
			}
		}
	}
}
/*block__form*/
.block__form__context {
	.form__ok {
		padding: 15px 0;
		@media only screen and(min-width: 1024px) {
			padding: 30px 0;
		}
		&__image {
			width: 50px;
			height: 50px;
			@media only screen and(min-width: 1024px) {
				width: 70px;
				height: 70px;
			}
		}
	}
}
/*references*/
.references {
	&__item {
		margin-bottom: 15px;
		display: block;
		border-radius: 10px;
		overflow: hidden;
		box-shadow: 0px 5px 30px rgba(0, 39, 69, 0.1);
		@media only screen and(min-width: 1024px) {
			margin-bottom: 20px;
		}
	}
}
body {
	.mfp-bg {
		background: rgba($dark-color, 0.9);
		opacity: 1;
	}
	img.mfp-img {
		border-radius: 10px;
		padding: 0;
	}
	.mfp-figure {
		figure {
			padding: 80px 0;
			background: transparent;
			max-width: 1180px;
			width: 100%;
			@media only screen and(max-width: 991px) {
				padding: 80px 15px;
			}
		}
	}
	button.mfp-arrow {
		width: 40px;
		height: 50px;
		opacity: 1;
		margin: 0!important;
		top: 50%;
		transform: translateY(-50%);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 20px;
		transition: 0.3s ease;
		opacity: 1;
		&:hover,
		&:focus {
			opacity: 1;
			@media only screen and(min-width: 1280px) {
				opacity: 0.8;
			}
		}
		@media only screen and(min-width: 1280px) {
			width: 40px;
			height: 60px;
			background-color: transparent;
			background-size: 32px;
			opacity: 0.5;
		}
		@media only screen and(min-width: 1680px) {
			width: 60px;
			height: 90px;
			background-size: 48px;
		}
		&:before,
		&:after {
			display: none;
		}
		&.mfp-arrow-left {
			background-image: url("../img/icons/ar-l.svg") ;
			left: 20px;
			@media only screen and(min-width: 1280px) {
				left: 50px;
			}
			
			@media only screen and(min-width: 1680px) {
				left: 100px;
			}
		}
		&.mfp-arrow-right {
			background-image: url("../img/icons/ar-r.svg");
			right: 20px;
			@media only screen and(min-width: 1280px) {
				right: 50px;
			}
			@media only screen and(min-width: 1680px) {
				right: 100px;
			}
		}
	}
	.mfp-image-holder .mfp-close {
		width: 20px;
		height: 20px;
		background: url("../img/icons/close.svg") no-repeat center/cover;
		opacity: 0.5;
		transition: 0.3s ease;
		font-size: 0;
		top: 20px;
		right: 20px;
		position: fixed;
		@media only screen and(min-width: 1280px) {
			right: 50px;
			top: 50px;
			width: 30px;
			height: 30px;
		}
		@media only screen and(min-width: 1680px) {
			right: 100px;
			top: 100px;
			width: 40px;
			height: 40px;
		}
		&:hover,
		&:focus {
			opacity: 0.8;
		}
	}
	.mfp-figure:after {
		display: none;
	}
	.mfp-bottom-bar {
		margin-top: -50px;
		@media only screen and(max-width: 991px) {
			padding: 0 15px;
			width: calc(100% - 15px);
		}
	}
	.mfp-counter,
	.mfp-title {
		font-size: 1.125em;
		color: white;
		@media only screen and(min-width: 1024px) {
			font-size: 1.5em;
		}
	}
}
.cng {
	position: relative;
	overflow: hidden;
	&__inner {
		@media only screen and(min-width: 1280px) {
			column-gap: 60px;
			column-count: 2;
		}
		.main__text {
			margin-bottom: 15px;
			@media only screen and(min-width: 1024px) {
				margin-bottom: 20px;
			}
		}
	}
	&:before {
		position: absolute;
		top: 0;
		height: 60%;
		width: 200%;
		left: -50%;
		content: "";
		border-radius: 0 0 50% 50%;
		overflow: hidden;
		background: $light-blue-color;
	}
}
/*options*/
.options {
	&__table {
		width: 100%;
		th, td {
			border: 1px solid rgba($dark-color, 0.2);
			padding: 4px 4px;
			font-size: 0.65em;
			@media only screen and(min-width: 568px) {
				padding: 5px 6px;
				font-size: 0.75em;
			}
			@media only screen and(min-width: 768px) {
				padding: 8px 10px;
				font-size: 0.875em;
			}
			@media only screen and(min-width: 1024px) {
				padding: 12px 15px;
				font-size: 1em;
			}
			@media only screen and(min-width: 1280px) {
				padding: 15px 28px;
				font-size: 1.125em;
			}
		}
		thead {
			th, td {
				background: rgba($red-color, 0.05);
			}
			th {
				text-align: center;
				font-weight: 400;
				color: $red-color;
			}
		}
		td.table__small { 
			font-size: 0.65em;
			width: 50px;
			@media only screen and(min-width: 768px) {
				width: 120px;
			}
			@media only screen and(min-width: 1024px) {
				width: 215px;
				font-size: 0.75em;
			}
		}
	}
	&__images {
		&__item {
			border-radius: 10px;
			box-shadow: 0px 20px 60px rgba(0, 39, 69, 0.1);
			height: 220px;
			margin: 0 auto 20px;
			@media only screen and(min-width: 768px) {
				margin: 0 auto;
				height: 300px;
			}
			@media only screen and(min-width: 992px) {
				width: calc(100% - 20px);
				height: 320px;
			}
			@media only screen and(min-width: 1280px) {
				width: calc(100% - 40px);
				height: 360px;
			}
		}
	}
	&__inner {
		.nav-tabs {
			border: 0;
			flex-wrap: nowrap;
			justify-content: center;
			.nav-item {
				width: 33.3%;
				text-align: center;
				margin: 0;
				border-right: 1px solid $blue-color;
				padding: 0 3px;
				display: flex;
				align-items: center;
				justify-content: center;
				@media only screen and(min-width: 768px) {
					padding: 0 20px;
				}
				@media only screen and(min-width: 1024px) {
					padding: 0 30px;
				}
				@media only screen and(min-width: 1280px) {
					padding: 0 50px;
				}
				&:last-child {
					border: 0;
				}
			}
		}
		&__item {
			&__title {
				color: $blue-color;
				@media only screen and(max-width: 767px) {
					font-size: 1.05em;
				}
			}
			&.nav-link {
				border: 0!important;
				padding: 10px 2px;
				border-radius: 10px!important;
				width: 100%;
				transition: 0.3s ease;
				@media only screen and(min-width: 768px) {
					padding: 20px 10px;
				}
				@media only screen and(min-width: 1024px) {
					padding: 30px 10px;
				}
				@media only screen and(min-width: 1280px) {
					padding: 40px 20px;
				}
				&.active,
				&:hover,
				&:focus {
					border:0!important;
				}
				&.active {
					background: $blue-color!important;
					.options__inner__item__title {
						color: $white-color;
					}
					svg {
						fill: $white-color;
						.cls-1,
						.cls-2,
						.cls-3 {
							fill: $white-color;
						}
					}
				}
			}
		}
		&__image {
			width: 50px;
			height: 50px;
			margin: 0 auto 20px;
			text-align: center;
		
			@media only screen and(min-width: 768px) {
				width: 60px;
				height: 60px;
			}
			@media only screen and(min-width: 1024px) {
				width: 80px;
				height: 80px;
			}
			@media only screen and(min-width: 1280px) {
				width: 100px;
				height: 100px;
			}
			svg {
				max-width: 100%;
				max-height: 100%;
				fill:$blue-color;
				transition: 0.3s ease;
				.cls-1,
				.cls-2,
				.cls-3 {
					fill:$blue-color;
					transition: 0.3s ease;
				}
			}
		}
		.tab-content {
			border: 1px solid $blue-color;
			border-radius: 10px;
			padding: 20px 0;
			@media only screen and(min-width: 768px) {
				padding: 30px 15px;
			}
			@media only screen and(min-width: 1280px) {
				padding: 40px 20px;
			}
		}
		.tab-pane {
			position: relative;
			&:before {
				display: block;
				position: absolute;
				top: -34px;
				background: url("../img/icons/arr-i.svg") no-repeat center/16px;
				content: "";
				width: 14px;
				height: 16px;
				background-color: white;
				@media only screen and(min-width: 768px) {
					top: -44px;
				}
				@media only screen and(min-width: 1280px) {
					top: -54px;
				}
			}
			&:first-child {
				&:before {
					left: 14%;
				}
			}
			&:nth-child(2) {
				&:before {
					left: 49%;
				}
			}
			&:last-child {
				&:before {
					left: 84%;
				}
			}
		}
	}
}